recursive-include rgfpackage *.cpp *.hpp
recursive-include rgforest *.cpp *.pyx *.pxd
recursive-include rgforest/tests/fixtures *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include README.md
include requirements.txt
